
@font-face{
    font-family: 'LibreFranklin';
    src: url('../Fonts/LibreFranklin.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

html {
    scroll-behavior: smooth;
    font-family: 'LibreFranklin';
}

/* General Styling */

nav{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    /* gap: 8rem; */
    padding: .5rem 1rem .5rem 1rem;
    background-color: #10294B;
}

main{
    margin-left: 0
}

section {
    margin-left: 1rem;
    margin-right: 1rem;
}

h1{
    font-weight: 800;
    font-size: 1.75rem;
    color: white;
}

h2{
    font-weight: 700;
    font-size: 1.25rem;
}

header h2{
    text-align: center;

}

h3{
    font-size: 1rem;
}

p{
    font-size: .80rem;
    font-weight: 400;
    line-height: 1.25rem;
}

ul{
    padding: 0;
    list-style: none;
    margin-right: 1rem;
    margin-left: 1rem;
}

.separation ul li{
    border-bottom: 1px solid #10294B;
}

footer{
    background-color: #10294B;
    color: white;
    text-align: center;
    margin-top: 1rem;
    padding: .5rem 1rem
}

/* Page Specific Styling */

/* HOME */
.spaced{
    color: black;
    padding-bottom: 20px;
}

.hero{
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 416px; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* SUB-PAGES */

.sub-hero{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 249px; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* NEWS*/

.news-gray{
    background-color:#DADADA;    
    padding: 20px 20px
}

.news-white{
    padding: 20px 20px;
}

.subhead{
    margin-left: 1rem;
    margin-bottom: -5px;
}

.news{
    align-content: center;
    margin:0;
    padding:0
}

/* SCHEDULE */

.separation h2{
    text-align: center;
    background-color: #10294B;
    color: #F7C844;
    padding: 1rem .5rem;
}

/* DONATE */
.input{
    text-align: center;
}

/* Buttons */

.nav-buttons ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: .5rem 1rem;
    /* max-width: 440px; */
}

.nav-buttons a{
    display: block;
    text-align: center;
    background-color: #F7C844;
    text-decoration: none;
    padding: 10px 20px;
    font-size: .80rem;
    font-weight: 600;
    color: #10294B;
}

.nav-buttons h3 {
    margin: .5rem 1rem;
}
